/* top-card */
.agent-card {
  position: relative;
  overflow: visible;
  border-radius: 1rem;
  height: 300px;
  cursor: pointer;
  background-color: var(--card);
  text-decoration: none;
  transition: transform 0.3s ease;
}

.agent-card-content {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.agent-card-content h1 {
    font-size: 24px;
    color: var(--text);
}

.agent-card-content span {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--acent-hover);
}

.agent-card-content p {
  color: var(--text);
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
}

.img-cols {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
    background-color: pink;
    margin-bottom: 12px;
}

.img-cols img {
    width: 100%;
    object-fit: cover;
}

/* Hover effect */
.agent-card:hover {
  transform: translateY(-4px);
}
