/* top-card */
.subscription-card {
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    height: 350px;
    margin-bottom: 50px;
    color: #fff;
    background-color: #fff;
}

.subscribtion-infor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subscribe h1 {
    
}

.fill-in {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 0px 14px;
    border: none;
    position: relative;
}

.submit {
    width: 12%;
    height: 25px;
    border-radius: 6px;
    color: var(--icon);
    background-color: var(--acent-hover);
    border: none;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(-2%, -50%);
}

.sub-card-content {
    overflow: hidden;
}

.sub-card-content img{
    width: 100%;
    aspect-ratio: 16/6;
    filter: blur(2px) brightness(80%);
}

/* Hover effect */
.agent-card:hover {
  transform: translateY(-4px);
}
