.main-section{
    max-width: var(--maxw);
    margin: auto;
    margin-top: 65px;
    background-color: #FFF2F2;
    line-height: 2;
    display: flex;
    gap: 40px;
    


}

.filter{
    display: block;
}
.btn-sell{
    background-color: black;
    color: white;
    width: 90px;
    padding: 10px;
    border: none;
    border-radius: 5px;

}

.price{
    display: block;
}
.btn-rent{
    background-color: #F0E8E8;
    color: black;
    width: 90px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    transition: all .4s ease;
}

.btn-rent:hover {
    background-color: var(--acent);
    color: #fff;
}

.extra {
    background-color: #F0E8E8;
    color: black;
    width: 110px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    transition: all .4s ease; 
}
.extra:hover {
    background-color: var(--acent);
    color: #fff;
}

.type{
    display: block;
}


.listing-content {
    max-width: var(--maxw);
    display: flex;
    margin: auto;
    gap: 39px;
    padding: 59px 2px;

}
.btn-click{
    display: flex;
    margin: auto;
    gap: 10px;
    padding: 59px 536px;
    justify-content: center;

}
.click{
    width: 40px;
    height: 40px;

}
button{
    width: 40px;
    height: 40px;   
    border-radius: none;
    transition: all .4s ease;
    border: none;
}

button:hover{
    background-color: var(--acent);
    color: #fff;
}
.feature{
    max-width: var(--maxw);
    display: block  ;
    margin: auto;
    gap: 39px;
    padding: 59px 2px;
}  
.card-feature{
    max-width: var(--maxw);
    display: flex;
    margin: auto;
    gap: 39px;
    padding: 59px 0px;
}

    